/*Common Styles*/
* {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
    background: #ffe8d6;
    color: #6b705c;
    font-size: 1vw;
}

/*Main Styles*/
.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 5.75rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

/*Watch Section Styles*/
.watch-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.watch-value {
    text-align: center;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
}

/*Buttons Styles*/
.btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.action-btn,
.reset-btn {
    background: #ffe8d6;
    color: #6b705c;
    font-size: 3rem;
    border: 2px solid #6b705c;
    border-radius: 10px;
    padding: 0.1rem 1.75rem;
    min-height: 28px;
    min-width: 75px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.action-btn:hover,
.reset-btn:hover {
    background: #6b705c;
    color: #ffe8d6;
}

.action-btn {
    margin-right: 8rem;
    min-width: 265px;
}

/*Responsiveness Styles*/
@media (max-width: 768px) {
    html, body {
        font-size: 10px;
    }

    .action-btn,
    .reset-btn {
        padding: 8px 12px;
    }
}
